<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Configuración para el entorno (Local o Azure) -->
	<appSettings>
		<!--<add key="CurrentEnvironment" value="Local" /> 
		-->
		
		<!-- Cuando despliegues en Azure, cambiarías este valor a "Azure" (o lo configurarías en Azure) -->
		<add key="CurrentEnvironment" value="Azure" /> 
		
	</appSettings>

	<connectionStrings>
		<!-- Cadena de Conexión para entorno de desarrollo local -->
		<add name="LocalDbConnection"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdHomeCare;Integrated Security=True;"
             providerName="System.Data.SqlClient" />

		<!-- También agregamos la cadena de Azure que discutimos, para que esté lista -->
		<add name="AzureDbConnection"
				 connectionString="Server=tcp:opal-hands-db-server.database.windows.net,1433;Initial Catalog=db_opal_hands;Persist Security Info=False;User ID=admin_opal;Password=11e357a403T;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
				 providerName="System.Data.SqlClient" /> 
	</connectionStrings>
</configuration>